.chart-holder{
	margin-left:10px;
  width:80%;
  float:left;
}
.nav-menu{
  float:left;
  padding:5px;
}
.nav-menu div{
  text-align:center;
  box-shadow: 1px 1px 3px #ddd;
  cursor: pointer;
}

.nav-item-highlight{
    background-color:#F0FFFF;
}
.chart-controller{
  overflow: hidden
}
.octicon-nav:hover{
  color:#2BAFC2;
}


@media screen and (min-width: 64em) {
  .chart-title {
    font-size: 3rem; 
  } 
  .nav-menu div{
    width:60px;
    padding:10px;
  }
  .octicon-nav{
    font-size:2rem;
    color:#7FDFFF;
  }
  .octicon-nav:hover{
    font-size:2.2rem;
  }

}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .chart-title  {
    font-size: 2rem; 
  } 
  .nav-menu div{
    width:40px;
    padding:8px;
  }
  .octicon-nav{
    font-size:1.5rem;
    color:#7FDFFF;
  }
  .octicon-nav:hover{
    font-size:1.6rem;
  }

}

@media screen and (max-width: 42em) {
  .chart-title  {
    font-size: 1.5rem; 
  } 
  .nav-menu div{
    width:28px;
    padding:5px;
    line-height:normal;
  }
  .octicon-nav{
    font-size:1rem;
    color:#7FDFFF;
  }
  .octicon-nav:hover{
    font-size:1.1rem;
  }

}

.bar {
  fill: rgb(149,222,171);
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: orange;
  color: #fff;
  border-radius: 0.5em;
}
.d3-tip span{
	color: white!important;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: orange;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
