.chart-holder{
	margin-left:10px;
  width:80%;
  float:left;
}
.nav-menu{
  padding:5px;
  overflow:hidden;
  margin-bottom:20px;
  margin-left:40px;
}
.nav-menu div{
  float:left;
  text-align:center;
  box-shadow: 1px 1px 3px #ddd;
  cursor: pointer;
}

.nav-item-highlight{
  background-color:#F0FFFF;
}
.chart-controller{
  overflow: hidden
}
.octicon-nav{
  width:100%;
  height:100%;
}
.octicon-nav:hover{
  color:#FFF;
  background-color:#7FDFFF;
}
.table-container{
  float:left;
  padding:80px 50px 20px 70px;
}
.table-title{
    color:#C341AB!important;
    margin-bottom:30px!important;
}
@media screen and (min-width: 64em) {
  .chart-title {
    font-size: 3rem; 
  } 
  .nav-menu div{
    width:100px;
  }
  .octicon-nav{
    font-size:3rem;
    color:#7FDFFF;
    padding:10px;
  } 
  .table-style{
    font-size:2rem;
  }

}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .chart-title  {
    font-size: 2rem; 
  } 
  .nav-menu div{
    width:80px;
  }
  .octicon-nav{
    font-size:2.5rem;
    color:#7FDFFF;
    padding:8px;
  }
  .table-style{
    font-size:1.6rem;
  }

}

@media screen and (max-width: 42em) {
  .chart-title  {
    font-size: 1.5rem; 
  } 
  .nav-menu div{
    width:60px;
    line-height:normal;
  }
  .octicon-nav{
    font-size:2rem;
    color:#7FDFFF;
    padding:5px;
  }
   .table-style{
    font-size:1.2rem;
  }


}

.bar {
  fill: rgb(149,222,171);
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: orange;
  color: #fff;
  border-radius: 0.5em;
}
.d3-geotip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: orange;
  box-shadow: 0px 3px 6px silver;
  border:1px solid #ffecec;
  border-radius: 0.3em;
  color: #fff;
}

.d3-tip span{
	color: white!important;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: orange;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
